/* kind of parallax*/

#about {
	background-image: url('../images/about.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* parallax end*/
.navbar-brand {
	padding: 35px 0;
}
.nav, .navbar-brand {
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}
.navbar {
	background-color: rgba(248,248,248,.9);
	font-size: .8em;
	transition: all .5s ease;
}

#navbar-collapse ul {
	transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
}

.navbar-nav > li:last-of-type {
	margin-right: 20px;
}

@media (max-width: 768px) {
	.navbar-brand {
		padding: 15px;
	}	
	.navbar {
	    background-color: rgba(248,248,248,1);
	    font-size: .6em;
	}
}

@media (min-width: 752px){
	.full li a {
	    line-height: 90px;
	    height: 90px;
	    padding-top: 0;
	    transition: all 0.2s ease;
	}

	.shrink li a{
	    transition: all 0.2s ease;
	}

}